    </main>
    <footer class="wrapper footer" id="footer">
      <div class="container fixed-1280">
        <p>&copy; <a href="/" title="My Personal Self 2017">My Personal Self 2017</a>. All Rights Reserved</p>
      </div>
    </footer>
    <div class="modal" id="modal">
      <div class="modal-item" id="modalItem">
        <div class="modal-close" id="modalClose">
            <i></i>
        </div>
        <div class="modal-inner" id="modalInner">
        </div>
      </div>
    </div>
    <script src="js/main.min.js" type=text/javascript></script>
    <script type="text/javascript">
      $('#jane').jqShowModal({
        modalName: 'jane',
        modalData: 'modals/jane.html',
        modalTracking: true
      });

      $('#charlie').jqShowModal({
        modalName: 'charlie',
        modalData: 'modals/charlie.html',
        modalTracking: true
      });

      $('#katie').jqShowModal({
        modalName: 'katie',
        modalData: 'modals/katie.html',
        modalTracking: true
      });

      $('#vanessa').jqShowModal({
        modalName: 'vanessa',
        modalData: 'modals/vanessa.html',
        modalTracking: true
      });
    </script>
  </body>
</html>
