<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie ie8 no-svg no-js no-touch">
<![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie ie9 no-svg no-js no-touch">
<![endif]-->
<!--[if !(IE 8) | !(IE 9)]><!-->
<html lang="en" class="no-svg no-js no-touch">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
    <link href="css/styles.min.css" rel="stylesheet" type="text/css">
    <script src="js/feature.detection.js" inline></script>
    <!-- Google Tag Manager -->
    <script>dataLayer = [];</script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T8L7LW');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <header id="header" class="header wrapper">
      <div class="container">
        <a href="/" title="My Personal Self" class="header-link" id="header-link" >
          <img src="svgs/mps-logo.svg" role="img" class="icon header-logo" title="My Personal Self" id="ui-header-logo" inline >
         </a>
      </div>
    </header>
    <main id="main">
